# Editor directories and files
.idea
.vscode
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
\node_modules
# \okr
# **/vue-project
# vendor/*
# !vendor/tecnickcom
# vendor/tecnickcom/*
# !vendor/tecnickcom/tcpdf
# vendor/tecnickcom/tcpdf/*
# !vendor/tecnickcom/tcpdf/tcpdf.php
inc/log.log
